* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
}


body {
    background-color: blueviolet;display: grid;
    /* grid-template-columns:20% 20% 20% 20% 20%; */
    grid-template-columns: repeat(5, 1fr);  
    grid-template-rows: auto;
    gap: 10px;
    padding: 10px; 
}

.card{
    position: relative;
    /* width: 300px;
    height: 300px; 
    border-radius: 15px;
    /* redondear box */ 
    /* overflow: hidden; */
    background-color: rgb(28, 194, 197);
}

.card img{
    width: 300px;
    height: 300px; 
    border-radius: 15px;   
    /* width: 100%; */
    object-fit: contain;
}
.card-content{
    /* display: none; */
    opacity: 0;
    transition-duration: .5s;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.499);
    width: 100%;
    height: 100%;
    border-radius: 15px;
    color: white;
    padding: 30px;
}

.card-content h1, .card-content p{
    margin-bottom: 15px;
}

.card-content button{
    position: absolute;
    bottom: 30px;
    right: 30px;
    padding: 10px 20px;
    border-radius: 15px;
    border: 0;
    background-color: rgb(212, 45, 245);
    color: white;
    cursor: pointer;

}

.card-content button:hover{
    background-color: rgb(131, 22, 153);    

}.card:hover .card-content{
    /* display: block; */
    opacity: 1;
}



